html,
body {
	background-color: #efeff4;
	height: 100%;
}

#content{
 margin: 10px;
 height: 100%;
/* border: 1px solid #0000FF;	*/
}
#goleft{
	width: 100%;
	height:10%;
}

#goleft img{
	width: 25px;
	height:25px;
	float: left;
}

#introduce{
   width:100%;
   height:30%;	
}

#activities{
	height:300px;
	width:100%;	
}
.activity{
	height:50px;
	width:100%;
    margin:10px;
}
/*#activities #activity_img{
	height:50px;
	width:50%;
	overflow: hidden;
	float:left;
}

#activities #activity_text{
	height:50px;
	width:50%;
	float:left;
}*/
