html,body{
	width:100%;
	height:100%;
}

#main{
	height: 100%;
	width: auto;
}

#main #exit{
	padding:10px;
	height:10%;
	width:auto;
}

#main #exit img{
	height:90%;
	float:right;
}

#main #playVideo{
	height:60%;
	border:1px solid #000000;
}

#main #intro{
	height:15%;
	border:1px solid #000000;
}

#main #comment{
	height:15%;
	border:1px solid #000000;
}